<?xml version="1.0"?>
<configuration>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />

      </layout>
    </appender>

    <appender name="DailyFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:/temp/log/" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value='"aik."yyyyMMdd".log"' />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <!-- Level : Fatal, Error, Warn, Info, Debug -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Debug" />
        <levelMax value="Fatal" />
      </filter>
    </appender>

    <!-- デフォルトの出力設定 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="DailyFileAppender" />
    </root>
  </log4net>
</configuration>
