<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings/>
    <connectionStrings/>
  
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="~/Account/LoginForm.aspx" timeout="2880" defaultUrl="~/Default.aspx"  name=".ASPXFORMSAUTH"  />
        
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>

      <compilation debug="true" />
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    </system.web>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
